.divShop {
    margin-left: 110px;
    margin-right: 110px;
    padding-top: 50px;
}

.background{
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* toda la pantalla*/
    min-height: 100vh;
    height: -webkit-fill-available;
}

.tienda {
    color:whitesmoke;
    font-family: monospace;
}